footer {
  padding-bottom: $paddingHeight;
  padding: 1 * $paddingHeight 0 $paddingHeight;

  section{padding: {
    left: 1em;
    right: 1em;
  }}

  @include media {
    padding: 1 * $headerHeight 0 3 * $paddingHeight;

    section {
      padding: {
        left: 6em;
        right: 6em;
      }
    }
  }

  @include media($laptop) {
    padding: 1 * $headerHeight 0 3 * $paddingHeight;
  }

  @include media(1800px) {
    padding: 1 * $headerHeight 0 3 * $paddingHeight;
  }

  section {
    margin-bottom: 0;
  }

  background-color: $black;

  * {
    color: $footerColor;
  }

  a,
  div {
    font-size: 1em;
    margin: 0.5vh 0;
  }

  span {
    color: $white;
  }

  .links {
    span {
      margin: 2vh 0 4vh;
      display: flex;
      justify-content: space-between;
      width: 100%;

      svg {
        width: 5%;

        @include media {
          display: none;
        }
      }
    }

    a {
      margin: 2vh 0;
    }

    svg {
      width: 100%;
      vertical-align: middle;
      margin-right: $smallMargin;
    }

    hr {
      margin: -3vh 0 0;
    }

    @include media {
      div {
        width: auto;
      }

      hr {
        display: none;
      }

      justify-content: space-between;
    }

    align-items: flex-start;
  }

  div.flex_c {
    align-items: flex-start;
  }

  .socials {
    .follow {
      a {
        margin: 0 3 * $smallpadding;
        transform: scale(1.2);

        @include media {
          margin: 0 2 * $smallpadding;
          transform: none;

        }
      }
    }

    margin-top: 6vh;

    @include media {
      justify-content: space-between;
      align-items: center;

      .logo {
        display: flex;

        svg:first-child {
          margin-right: 2 * $smallpadding;
        }
      }
    }
  }

  .allRightReserved {
    text-align: center;
  }
}