.black {
  color: #150C21 !important;
}

.bgBlack {
  background-color: #150C21 !important;
}

.bgBlue {
  background-color: #3524EE !important;
  color: #fff !important;
}

.white {
  color: #fff !important;
}

.bgWhite {
  background-color: #fff !important;
}

.purple {
  color: #5D5FEF !important;
}

.bgPurple {
  background-color: #5D5FEF !important;
}

.blue {
  color: #1207AB !important;
}

.bgBlue {
  background-color: #1207AB !important;
}

.bgMobileHeader {
  background-color: #fff;
}
@media only screen and (min-width: 768px) {
  .bgMobileHeader {
    background-color: rgba(0, 0, 0, 0);
  }
}

.linkButton, button {
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40px;
  max-height: 70px;
  height: 8vh;
  border-radius: 10px;
  border: 2px solid #150C21;
  white-space: nowrap;
  vertical-align: middle;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
}
.linkButton:hover, button:hover {
  background-color: white;
}
@media only screen and (min-width: 768px) {
  .linkButton, button {
    width: 24vw;
  }
}
@media only screen and (min-width: 1024px) {
  .linkButton, button {
    width: 18vw;
  }
}

.secondaryButton {
  width: 50vw;
  align-self: flex-start;
}
@media only screen and (min-width: 768px) {
  .secondaryButton {
    align-self: center;
    width: 24vw;
  }
}
@media only screen and (min-width: 1024px) {
  .secondaryButton {
    width: 18vw;
  }
}

.mover {
  -webkit-animation: mover 1s infinite alternate;
          animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
  }
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
}
.flex img {
  max-width: 80%;
}
.flex button {
  font-size: 3vw;
}
.flex button:first-child:hover {
  background-color: #1ba33c;
  opacity: 1;
}
.flex > div {
  margin-top: 5vh;
}
.flex_c, .flex_cR, .flex_cr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .flex_cr {
    flex-direction: row;
  }
}

@media only screen and (min-width: 768px) {
  .flex_cR {
    flex-direction: row-reverse;
  }
}

.flex_r, .flex_rC, .flex_rc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media only screen and (min-width: 768px) {
  .flex_rc {
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .flex_rC {
    flex-direction: column-reverse;
  }
}

@media only screen and (min-width: 768px) {
  .flex {
    flex-direction: row;
  }
  .flex img {
    width: 50%;
  }
}

.mobile {
  display: flex;
}
@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.none {
  display: none;
}
.none_m {
  display: none;
}
@media only screen and (min-width: 768px) {
  .none_m {
    display: inline-block;
  }
}
.none_t {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .none_t {
    display: inline-block;
  }
}

.rotate {
  transform: rotate(180deg);
}

.w25 {
  width: 25 %;
}

@media only screen and (min-width: 768px) {
  .tablet {
    display: flex;
  }
  .tablet25 {
    width: 25 %;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .laptop {
    display: flex;
  }
  .laptop25 {
    width: 25 %;
    margin-left: auto;
    margin-right: auto;
  }
}

.w33 {
  width: 33 %;
}

@media only screen and (min-width: 768px) {
  .tablet {
    display: flex;
  }
  .tablet33 {
    width: 33 %;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .laptop {
    display: flex;
  }
  .laptop33 {
    width: 33 %;
    margin-left: auto;
    margin-right: auto;
  }
}

.w50 {
  width: 50 %;
}

@media only screen and (min-width: 768px) {
  .tablet {
    display: flex;
  }
  .tablet50 {
    width: 50 %;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .laptop {
    display: flex;
  }
  .laptop50 {
    width: 50 %;
    margin-left: auto;
    margin-right: auto;
  }
}

.w60 {
  width: 60 %;
}

@media only screen and (min-width: 768px) {
  .tablet {
    display: flex;
  }
  .tablet60 {
    width: 60 %;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .laptop {
    display: flex;
  }
  .laptop60 {
    width: 60 %;
    margin-left: auto;
    margin-right: auto;
  }
}

.w75 {
  width: 75 %;
}

@media only screen and (min-width: 768px) {
  .tablet {
    display: flex;
  }
  .tablet75 {
    width: 75 %;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .laptop {
    display: flex;
  }
  .laptop75 {
    width: 75 %;
    margin-left: auto;
    margin-right: auto;
  }
}

.w100 {
  width: 100 %;
}

@media only screen and (min-width: 768px) {
  .tablet {
    display: flex;
  }
  .tablet100 {
    width: 100 %;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .laptop {
    display: flex;
  }
  .laptop100 {
    width: 100 %;
    margin-left: auto;
    margin-right: auto;
  }
}

.fw100, .fw100_right, .fw100_center, .fw100_left {
  font-weight: 100;
}
.fw100_left {
  text-align: left;
}

.fw100_center {
  text-align: center;
}

.fw100_right {
  text-align: right;
}

.fw200, .fw200_right, .fw200_center, .fw200_left {
  font-weight: 200;
}
.fw200_left {
  text-align: left;
}

.fw200_center {
  text-align: center;
}

.fw200_right {
  text-align: right;
}

.fw300, .fw300_right, .fw300_center, .fw300_left {
  font-weight: 300;
}
.fw300_left {
  text-align: left;
}

.fw300_center {
  text-align: center;
}

.fw300_right {
  text-align: right;
}

.fw400, .fw400_right, .fw400_center, .fw400_left {
  font-weight: 400;
}
.fw400_left {
  text-align: left;
}

.fw400_center {
  text-align: center;
}

.fw400_right {
  text-align: right;
}

.fw500, .fw500_right, .fw500_center, .fw500_left {
  font-weight: 500;
}
.fw500_left {
  text-align: left;
}

.fw500_center {
  text-align: center;
}

.fw500_right {
  text-align: right;
}

.fw600, .fw600_right, .fw600_center, .fw600_left {
  font-weight: 600;
}
.fw600_left {
  text-align: left;
}

.fw600_center {
  text-align: center;
}

.fw600_right {
  text-align: right;
}

.fw700, .fw700_right, .fw700_center, .fw700_left {
  font-weight: 700;
}
.fw700_left {
  text-align: left;
}

.fw700_center {
  text-align: center;
}

.fw700_right {
  text-align: right;
}

.fw800, .fw800_right, .fw800_center, .fw800_left {
  font-weight: 800;
}
.fw800_left {
  text-align: left;
}

.fw800_center {
  text-align: center;
}

.fw800_right {
  text-align: right;
}

.fw900, .fw900_right, .fw900_center, .fw900_left {
  font-weight: 900;
}
.fw900_left {
  text-align: left;
}

.fw900_center {
  text-align: center;
}

.fw900_right {
  text-align: right;
}

.back-to-top {
  height: 36px;
  width: 36px;
  bottom: 50px;
  right: 30px;
  padding: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: fixed;
  color: #fff;
  background-color: #2f55d4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  transition: all 0.5s ease;
}
.back-to-top:hover {
  transform: rotate(45deg);
  background-color: #0b5ed7 !important;
  border-color: #0a58ca;
}
.back-to-top:hover svg {
  transform: rotate(-45deg);
}
.back-to-top svg {
  transition: all 0.5s ease;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  box-sizing: border-box;
  color: #150C21;
  list-style: none;
  text-decoration: none;
  text-align: initial;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  line-height: 1.3;
}

:root {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

html {
  color: #3524EE;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #3524EE;
  background-position: center;
  width: 100%;
}

::-moz-selection {
  color: #fff;
  background-color: #1207ab;
}

::selection {
  color: #fff;
  background-color: #1207ab;
}

a, button {
  border-radius: 10px;
  cursor: pointer;
}
a.button, button.button {
  display: inline-block;
}
a:hover, button:hover {
  opacity: 0.5;
}

button {
  background-color: #150C21;
  line-height: 1.71;
}
button:hover {
  box-shadow: 0px 0.5px 0 5px rgba(0, 0, 0, 0.2);
  background-color: #f5f7fa;
  box-shadow: 0 2px #c2c0c0;
  opacity: 0.8;
  border: 1px solid #f5f7fa;
}

img {
  display: block;
  margin: 0 auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

h1 {
  font-size: 7.5vw;
  font-weight: 600;
  margin: cal(3vh 0 3vh);
}
@media only screen and (min-width: 540px) {
  h1 {
    font-size: 5.5vw;
  }
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.2vw;
  }
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 2.7vw;
  }
}

h2 {
  font-size: 5.5vw;
  font-weight: 600;
  margin: cal(3vh 0 3vh);
  margin-top: 0;
}
@media only screen and (min-width: 540px) {
  h2 {
    font-size: 7.5vw;
  }
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 1.2vw;
  }
}
@media only screen and (min-width: 1024px) {
  h2 {
    font-size: 1.7vw;
  }
}

h3 {
  font-size: 1.4em;
  font-weight: 300;
  margin: cal(6vh 0 0.6vh);
}
@media only screen and (min-width: 540px) {
  h3 {
    font-size: 5vw;
  }
}
@media only screen and (min-width: 768px) {
  h3 {
    font-size: 3.2vw;
  }
}
@media only screen and (min-width: 1024px) {
  h3 {
    font-size: 1.8em;
  }
}

h4 {
  font-size: 1.1em;
  font-weight: 300;
  margin: cal(1.5vh 0 1.5vh);
}
@media only screen and (min-width: 540px) {
  h4 {
    font-size: 4vw;
  }
}
@media only screen and (min-width: 768px) {
  h4 {
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 1024px) {
  h4 {
    font-size: 1.7em;
  }
}

div,
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  text-align: justify;
  word-break: keep-all;
  margin: cal(1.5vh 0 1.5vh);
  color: rgba(21, 12, 33, 0.59);
}
@media only screen and (min-width: 425px) {
  div,
p {
    font-size: 3.6vw;
  }
}
@media only screen and (min-width: 768px) {
  div,
p {
    font-size: 1.5vw;
  }
}
@media only screen and (min-width: 1024px) {
  div,
p {
    font-size: 1.25vw;
  }
}

hr {
  width: 100%;
  height: 0.1vh;
  min-height: 1px;
  margin: 2vh 0;
  background-color: gray;
}

li {
  list-style-type: none;
}

sup,
.error {
  color: red;
}

header {
  height: 75px;
  width: 100%;
  padding: 2vh 7vw;
  position: fixed;
  top: 0;
  z-index: 1000;
  color: #150C21;
  box-shadow: 5px 10px 18px rgba(238, 238, 238, 0);
  transition: all 0.5s ease;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
header a img, header button img {
  width: 80%;
  margin: 0;
}
header span.navLinks {
  position: absolute;
  left: 0;
  top: 0;
  padding: 75px 0;
  width: 75%;
  background-color: #fff;
}
@media only screen and (min-width: 768px) {
  header span.navLinks {
    max-width: 80%;
  }
}
@media only screen and (min-width: 1024px) {
  header span.navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    justify-self: flex-end;
    position: static;
    max-width: 65%;
    padding: 0;
    background-color: transparent;
  }
}
header span.navLinks a, header span.navLinks button {
  text-align: left;
  padding: 0 0 0 7vw;
  width: 100%;
  border-bottom: 1px solid #eeecec;
  line-height: 2.5;
  color: rgba(21, 12, 33, 0.59);
  border-radius: 0;
  font-size: 15px;
}
@media only screen and (min-width: 1024px) {
  header span.navLinks a, header span.navLinks button {
    padding: 0;
    border-bottom: none;
    width: auto;
  }
  header span.navLinks a:not(:last-child, :nth-child(5)):hover, header span.navLinks button:not(:last-child, :nth-child(5)):hover {
    -webkit-text-decoration: underline solid #1207AB 4px;
            text-decoration: underline solid #1207AB 4px;
    text-underline-offset: 4px;
  }
}
header span.navLinks a:nth-child(5), header span.navLinks button:nth-child(5) {
  border: 2px solid #3524EE;
  border-radius: 10px;
  transition: all 0.3s;
}
@media only screen and (min-width: 1024px) {
  header span.navLinks a:nth-child(5), header span.navLinks button:nth-child(5) {
    display: flex;
    width: 20%;
    height: 42px;
    padding: 0;
  }
}
header span.navLinks a:last-child, header span.navLinks button:last-child {
  transition: all 0.3s;
  border-radius: 10px;
  display: none;
  border: none;
}
@media only screen and (min-width: 1024px) {
  header span.navLinks a:last-child, header span.navLinks button:last-child {
    display: flex;
    width: 20%;
    height: 42px;
    padding: 0;
  }
}
header span.icon {
  color: rgba(21, 12, 33, 0.59);
  opacity: 0.59;
  align-self: center;
  cursor: pointer;
}
header span.icon svg {
  width: 22.5px;
}
@media only screen and (min-width: 1024px) {
  header span.icon {
    display: none;
  }
}

main {
  padding: 2vh 7vw;
}
main#overlay {
  position: fixed;
  background-color: #150C21;
  opacity: 0.5;
  z-index: 100;
  width: 100%;
  height: 100%;
}
main#contact div {
  padding-top: 75px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  main#contact div {
    padding-top: 112.5px;
    max-width: 100%;
  }
}
main#contact div img {
  width: 50%;
  transform: scale(1.15);
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-clip-path: polygon(0% 0%, 100% 1%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 1%, 100% 100%, 0% 100%);
  margin-top: 2em;
}
@media only screen and (min-width: 768px) {
  main#contact div img {
    transform: scale(1.1);
    min-width: 20.8%;
    width: 20.8%;
    transform: translate(3.125%, 0) scale(1.1);
    margin-top: 0;
  }
}
main#contact img {
  align-self: flex-start;
  justify-self: flex-start;
}
main#contact section {
  box-shadow: -6px -6px 12px #C9C4FF, 6px 6px 12px #A59CFF;
  margin-top: 2em;
  background: #fFF;
}
main#contact section span {
  width: 100%;
  padding: 2em;
  background-color: #3524EE;
}
main#contact section span img {
  width: 100%;
  margin-top: 2em;
}
main#contact section form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
main#contact section form span {
  background-color: #fff;
}
@media only screen and (min-width: 768px) {
  main#contact section form span {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50% 50%;
  }
  main#contact section form:last-child {
    transition: all 0.3s;
    border-radius: 10px;
    display: none;
    border: none;
  }
}
@media only screen and (min-width: 768px) and (min-width: 1024px) {
  main#contact section form:last-child {
    display: flex;
    width: 20%;
    height: 42px;
    padding: 0;
  }
}
main#contact section form fieldset {
  position: relative;
  width: 100%;
}
main#contact section form fieldset input {
  outline: none;
  width: 100%;
  padding: 10px 0;
  color: #fff;
  margin-bottom: 2em;
  border: none;
  border-bottom: 4px solid #3524EE;
  background: inherit;
  font-size: 20px;
}
main#contact section form fieldset input:active, main#contact section form fieldset input:valid, main#contact section form fieldset input:focus {
  outline: none;
  background: inherit;
}
main#contact section form fieldset input:focus ~ label {
  top: -20px;
  color: #3524EE;
  font-size: 12px;
  outline: none;
}
main#contact section form fieldset label {
  position: absolute;
  left: 0;
  padding-top: 0.5em;
  transition: 0.5s;
  /*pointer-events: none; */
  color: #3524EE;
  cursor: pointer;
  font-size: 20px;
}
main#contact section form button {
  padding: 0.5em 1.5em;
  align-self: flex-start;
  color: #3524EE;
  font-size: 16px;
  border: none;
  background: #3524EE;
  transition: 0.5s;
  cursor: pointer;
}
main#contact section form button:hover {
  background: #3524EE;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #3524EE, 0 0 25px #3524EE, 0 0 50px #3524EE, 0 0 100px #3524EE;
}
@media only screen and (min-width: 768px) {
  main#contact {
    flex-direction: row;
    background-image: url(/assets/img/kiteBg.png), url(/assets/img/blueRectangle.png), url(/assets/img/kiteBg.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-attachment: fixed, fixed, fixed;
    background-position: 100% 100%, 30px 280px, 5% 30%;
    justify-content: space-between;
    background-size: 30px, auto, 30px;
    /*   background: {
      image: url(/assets/img/circleBackground.svg);
      repeat: no-repeat;
      position: 200% -100%;
          background-repeat: no-repeat, no-repeat, no-repeat;
    background-attachment: fixed, fixed, fixed;
    background-position: -30px 190px, 0 80px, 550px 60px;
    justify-content: space-between;
    background-size: 40% 65%, auto, auto;
      size: 75% 75%;
    } */
  }
}
main#academy div {
  padding-top: 75px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  main#academy div {
    padding-top: 112.5px;
    max-width: 45%;
  }
}
main#academy img {
  width: 100%;
  transform: scale(1.15);
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-clip-path: polygon(0% 0%, 100% 1%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 1%, 100% 100%, 0% 100%);
}
@media only screen and (min-width: 768px) {
  main#academy img {
    transform: scale(1.1);
    min-width: 53.8%;
    width: 53.8%;
    transform: translate(3.125%, 0) scale(1.1);
  }
  main#academy img:last-child {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  main#academy {
    flex-direction: row;
    background-image: url(/assets/img/circleBackground.svg);
    background-repeat: no-repeat;
    background-position: 200% -100%;
    background-size: 75% 75%;
  }
}
main#acad > div.tablet, main#acad > div.flex_r, main#acad > div.flex_rc, main#acad > div.flex_rC {
  width: 100%;
  justify-content: center;
  align-content: center;
}
main#acad > div.tablet.affiliates, main#acad > div.flex_r.affiliates, main#acad > div.affiliates.flex_rc, main#acad > div.affiliates.flex_rC {
  flex-wrap: wrap;
}
main#acad > div.tablet.affiliates:first-child img, main#acad > div.flex_r.affiliates:first-child img, main#acad > div.affiliates.flex_rc:first-child img, main#acad > div.affiliates.flex_rC:first-child img {
  margin-top: 9vw;
}
@media only screen and (min-width: 768px) {
  main#acad > div.tablet.affiliates:first-child img, main#acad > div.flex_r.affiliates:first-child img, main#acad > div.affiliates.flex_rc:first-child img, main#acad > div.affiliates.flex_rC:first-child img {
    margin-top: 4vw;
  }
}
main#acad > div.tablet.affiliates img, main#acad > div.flex_r.affiliates img, main#acad > div.affiliates.flex_rc img, main#acad > div.affiliates.flex_rC img {
  filter: opacity(0.3);
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: left;
     object-position: left;
  width: 25.3%;
  margin-top: 4vw;
}
@media only screen and (min-width: 768px) {
  main#acad > div.tablet.affiliates img, main#acad > div.flex_r.affiliates img, main#acad > div.affiliates.flex_rc img, main#acad > div.affiliates.flex_rC img {
    margin-top: 0vw;
    width: 16%;
    -o-object-position: center;
       object-position: center;
  }
}
main#acad > div.tablet.academy img, main#acad > div.flex_r.academy img, main#acad > div.academy.flex_rc img, main#acad > div.academy.flex_rC img {
  width: 24%;
  margin: 6vh 0.75vw;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 20px;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
}
main#acad > div.tablet.academy img:hover, main#acad > div.flex_r.academy img:hover, main#acad > div.academy.flex_rc img:hover, main#acad > div.academy.flex_rC img:hover {
  transform: scale(1.1);
  /* filter: sepia(100%) hue-rotate(90deg)
    drop-shadow(8px 8px 10px gray); */
  filter: grayscale(100%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
@media only screen and (min-width: 768px) {
  main#acad > div.note {
    width: 70%;
    text-align: center;
  }
}
@media only screen and (min-width: 1024px) {
  main#acad > div.note {
    width: 65%;
  }
}
main#qhse {
  background-color: #1207AB;
  padding-top: 8vh;
}
main#qhse * {
  color: #fff;
}
main#qhse a, main#qhse button {
  border: none;
  background-color: #0135d6;
  box-shadow: 2px 2px #000;
  box-shadow: 0 0 3px rgb(60, 72, 88);
}
@media only screen and (min-width: 768px) {
  main#qhse a, main#qhse button {
    align-self: flex-start;
  }
}
main#qhse img {
  transform: translate(-3.125%, 0) scale(1.135);
}
@media only screen and (min-width: 768px) {
  main#qhse img {
    transform: translate(3.5%, -2.5%);
    min-width: 50%;
    width: 50%;
    margin-right: 0;
  }
}
@media only screen and (min-width: 1200px) {
  main#qhse img {
    min-width: 45%;
    width: 45%;
  }
}
@media only screen and (min-width: 768px) {
  main#qhse {
    margin-top: 16vh;
    align-items: center;
    justify-content: space-between;
  }
  main#qhse div {
    max-width: 50%;
  }
}
main#steam {
  padding: 0;
  background: linear-gradient(0deg, #a5a6f6 -11.14%, rgba(252, 221, 236, 0) 10.68%);
}
@media only screen and (min-width: 768px) {
  main#steam {
    background-image: url("/assets/img/airship.svg"), linear-gradient(0deg, #a5a6f6 -11.14%, rgba(252, 221, 236, 0) 28.68%);
    background-repeat: no-repeat;
    background-size: 90%, 100%;
    background-position: 60% 10%;
  }
}
main#steam > div {
  padding: 2vh 7vw;
}
main#steam > div.note h4 {
  margin: 0 0 4.5vh;
}
@media only screen and (min-width: 768px) {
  main#steam > div.note {
    max-width: 55%;
    padding-top: 10vh;
  }
}
main#steam > div.kids img {
  height: 50vh;
  max-height: 250px;
  width: 90%;
  margin-bottom: 4vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
}
main#steam > div.kids img:hover {
  transform: scale(1.2);
}
@media only screen and (min-width: 768px) {
  main#steam > div.kids img {
    height: 35vh;
    max-height: 25%;
    width: 30%;
    margin-top: 10vh;
  }
}
main#steam > div:last-child a, main#steam > div:last-child button {
  margin-top: 0;
}
@media only screen and (min-width: 768px) {
  main#steam > div:last-child a, main#steam > div:last-child button {
    background-color: #d7d8fb;
  }
}
main#workstation {
  padding: 0;
}
main#workstation > div {
  padding: 2vh 7vw;
  align-items: flex-start;
}
main#workstation > div:first-child {
  justify-content: space-between;
}
@media only screen and (min-width: 1024px) {
  main#workstation > div:first-child {
    margin-top: 10%;
  }
}
@media only screen and (min-width: 1024px) {
  main#workstation > div:first-child > div {
    width: 45%;
  }
}
main#workstation > div:first-child .buttons {
  justify-content: flex-start;
}
main#workstation > div:first-child .buttons a, main#workstation > div:first-child .buttons button {
  margin: 2vh 0;
}
@media only screen and (min-width: 768px) {
  main#workstation > div:first-child .buttons a, main#workstation > div:first-child .buttons button {
    margin: 3vh 0 11vh;
  }
  main#workstation > div:first-child .buttons a:first-child, main#workstation > div:first-child .buttons button:first-child {
    border: none;
    margin-right: 3vw;
  }
  main#workstation > div:first-child .buttons a:last-child, main#workstation > div:first-child .buttons button:last-child {
    width: 25%;
  }
}
main#workstation > div:first-child img {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
}
@media only screen and (min-width: 768px) {
  main#workstation > div:first-child img {
    margin: -10% 0 5% 10%;
    padding-bottom: 10%;
    z-index: 1;
    min-width: 30%;
    width: 35%;
    transform: translateY(-20%);
  }
}
@media only screen and (min-width: 1024px) {
  main#workstation > div:first-child img {
    padding-bottom: 20%;
    margin: -15% 0 5% 10%;
  }
}
@media only screen and (min-width: 1200px) {
  main#workstation > div:first-child img {
    transform: translateY(-30%);
  }
}
main#workstation > div#contact {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 0vh;
  padding: 8vh 7vw;
}
@media only screen and (min-width: 768px) {
  main#workstation > div#contact {
    padding: 5% 7vw;
    margin: -30% 7vw 0;
    transform: translateY(60%);
    border-radius: 10px;
    z-index: 10;
  }
}
@media only screen and (min-width: 768px) {
  main#workstation > div#contact p {
    max-width: 85%;
  }
}
main#workstation > div#contact h4 {
  color: #a6efff;
}
main#workstation > div#contact a, main#workstation > div#contact button {
  border: 1px solid #fff;
}
@media only screen and (min-width: 768px) {
  main#workstation > div#contact a, main#workstation > div#contact button {
    width: 50%;
    margin: 0 0 0 4vw;
    padding: 0 5px;
  }
}

footer {
  padding-bottom: 2vh;
  padding: 2vh 0 2vh;
  background-color: #150C21;
}
@media only screen and (min-width: 768px) {
  footer {
    padding: 75px 0 6vh;
  }
}
@media only screen and (min-width: 1024px) {
  footer {
    padding: 75px 0 6vh;
  }
}
@media only screen and (min-width: 1800px) {
  footer {
    padding: 75px 0 6vh;
  }
}
footer section {
  margin-bottom: 0;
}
footer * {
  color: #A4A4A4;
}
footer a, footer button,
footer div {
  font-size: 1em;
  margin: 0.5vh 0;
}
footer span {
  color: #fff;
}
footer .links {
  align-items: flex-start;
}
footer .links span {
  margin: 2vh 0 4vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer .links span svg {
  width: 5%;
}
@media only screen and (min-width: 768px) {
  footer .links span svg {
    display: none;
  }
}
footer .links a, footer .links button {
  margin: 2vh 0;
}
footer .links svg {
  width: 10%;
  vertical-align: middle;
  margin-right: 0.5vw;
}
footer .links hr {
  margin: -3vh 0 0;
}
@media only screen and (min-width: 768px) {
  footer .links {
    justify-content: space-between;
  }
  footer .links div {
    width: auto;
  }
  footer .links hr {
    display: none;
  }
}
footer div.flex_c, footer div.flex_cr, footer div.flex_cR {
  align-items: flex-start;
}
footer .socials {
  margin-top: 6vh;
}
footer .socials .follow a, footer .socials .follow button {
  margin: 0 12px;
  transform: scale(1.2);
}
@media only screen and (min-width: 768px) {
  footer .socials .follow a, footer .socials .follow button {
    margin: 0 8px;
    transform: none;
  }
}
@media only screen and (min-width: 768px) {
  footer .socials {
    justify-content: space-between;
    align-items: center;
  }
  footer .socials .logo {
    display: flex;
  }
  footer .socials .logo svg:first-child {
    margin-right: 8px;
  }
}
footer .allRightReserved {
  text-align: center;
}

body {
  background-color: #FFF;
}/*# sourceMappingURL=atc.css.map */